$color-black: #252525;
$color-grey-high: #3b3b3b;
$color-grey-mid: #8c8c8c;
$color-grey-low: #f5f5f5;
$color-white: #ffffff;
$color-primary: #e7116e;
$color-primary-an1: #ee2c24;
$color-primary-an2: #f05523;
$color-secondary: #8fd6e5;

$font-primary: 'Inter', sans-serif;
$font-secondary: 'Montserrat', sans-serif;
$font-size-global: 16px;

$box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
$box-shadow-bottom: 0px 5px 10px rgba(0,0,0,0.2);
$box-shadow-red: 0 0 5px $color-primary-an1;